$primary-color: #31302c;
$secondary-color: #f8efe6;
$accent-color: #c5bd8d;
$text-color: #a3a3a3;
$background-light: #f7eee7;
$button-color: #ddd;
$button-hover-color: #ccc;
$button-black-border-color: #1c1c19;
$highlight-light-color: $primary-color;
$highlight-dark-color: #ffd700;

// Font Variables
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Shippori+Antique&display=swap');


$font-family-chinese: 'Shippori Antique', sans-serif;
$font-family-english: 'Bebas Neue', sans-serif;